# History files
.Rhistory
.Rapp.history

# OS Files
.DS_Store
*.log
*.gz
*.aux

*.xlsx
*.docx
# Specific large results files

# Log files
*.out
*.Rout

.Rproj.user

# too big, even for git lfs :(
pkgBuild/kde_data/kde_list.RData

# ignore kinda-big files
pkgBuild/kde_data/train_set.RData
pkgBuild/kde_data/test_set.RData
pkgBuild/kde_data/kde_guesses_valid.RData
pkgBuild/data_provided/*

# ignore giant files
pkgBuild/data/train_full.csv
pkgBuild/data/test_full.csv
pkgBuild/data/train_full.RData
pkgBuild/data/test_full.RData
